
h1{
    text-align: center;
    display :flex;
    justify-content: center;
    
}

h2{
    text-align: center;
}
#chart{

    width: 80%;
    float: right;
    height: 100%;
    padding: 10px;
}
#side_panel{
    width: 10%;
    float: left;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    transition: width 0.3s ease-in-out; 
}
#sidebar-toggle{
    padding-top: 5%;
}
.modebar-container{
    display:none;
}

button {
    width: 100%; /* Make buttons take full width on smaller screens */
    max-width: 200px; /* Set a maximum width on larger screens */
    padding: 5%;
    margin: 5%;
    font-size:large;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
    button {
        font-size: small; /* Reduce text size on smaller screens */
    }
    #current-share-value{
        font-size: small; /* Reduce text size on smaller screens */
    }
}